a:hover{
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 70px 0px 0px;
}

.mycontainer {
    padding-left: 25px;
    padding-right: 25px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}